/* global.css */

/* Import Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~react-bootstrap-sidebar-menu/dist/sidebar-menu.scss"; */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Additional global styles can go here */
body {
  line-height: 1.5;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: "white";
  /* border-style: solid ; */
  border-width: 0;
}
a{
  text-decoration: none;
  color:white;
}
.accordion-button {
  background-color: #157fb9;
}

.accordion-button:not(.collapsed) {
  background-color: #157fb9;
}

.sidebar-column {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  z-index: 1000; /* Adjust the z-index if needed */
}

.main-column {
  margin-left: 25%; /* Adjust the width of the sidebar */
  padding: 20px; /* Adjust the padding as needed */
  box-sizing: border-box;
}

.sidebar-content {
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling if needed */
  background-color: #157fb9; /* Sidebar background color */
}


.table-header {
  background-color: #157fb9;
  color: white; /* Adjust text color as needed */
}
.connect-wallet{
  background-color: "skyblue";
  color: "black";
  padding: "10px 20px";
  border: "none";
  border-radius: "5px";
  cursor: "pointer";
  box-shadow: "0 5px #666";
  font-weight: "bold";
  top: "20px";
  position: "absolute";
  right: "20px";
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  padding: 8px 16px;
  border: 1px solid #ddd;
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #f1f1f1;
}

.pagination .active a {
  background-color: #0070f3;
  color: white;
  border: 1px solid #0070f3;
}

.pagination .disabled a {
  color: #ccc;
  cursor: not-allowed;
}
